.start-screen-container {
  text-align: center;
  padding-top: 40vw;
}

.screen-container {
  text-align: center;
}

.button {
  background-color: white;
  color: black;
  border: 5px solid black;
  padding: 3%;
  width: 90vw;
  margin-top: 10%;
  font-size: 18pt;
}

.help-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 3%;
  width: 90vw;
  margin-top: 10%;
  font-size: 18pt;
}

.first {
  margin-top: 5%;
}

.hidden {
  visibility: hidden;
}

.no-margin {
  margin: 0;
}

.candidates-container {
  max-height: 58vh;
  border: 1px solid black;
  padding: 1%;
  margin: 0 5%;
  overflow-y: scroll;
  background-color: #4e4e4e;
  list-style-type: none;
}

.candidate-box {
  background-color: white;
  text-align: start;
  border: 1px solid black;
  display: inline-flex;
  width: 80vw;
  margin: 1vh;
}

.party-image {
  padding: 1%;
  height: 6vh;
}

.preferences-container {
  width: 80vw;
  padding: 0 10vw;
}

.candidate-name {
  width: 65%;
  margin: 4%;
  font-size: 18pt;
}

.number {
  border: 1px solid black;
  display: inline-block;
  border-radius: 6vw;
  background-color: white;
  width: 10vw;
  height: 10vw;
  margin: 2vw 7vw;
}

.preference-box {
  border-left: 5px solid black;
  font-size: 18pt;
  padding-top: 4%;
  padding-left: 4%;
}

.alert {
  background-color: #df0000;
  color: white;
  font-weight: bold;
}

.nav-container {
  position: fixed;
  bottom: 2%;
  left: 0;
  right: 0;
  height: 6vh;
  display: inline-flex;
}

.nav-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 25vw;
  font-size: 18pt;
  height: 100%;
  margin: 0 1.25vw;
}

.del {
  width: 80vw;
  border: 2px solid #df0000;
  color: #df0000;
}

.delete-icon {
  max-height: 85%;
  max-width: 20%;
  display: inline;
  vertical-align: middle;
  padding-right: 3%;
}

.cast-btn {
  background-color: black;
  color: white;
  border: none;
  width: 75vw;
  height: 10vh;
  font-size: 18pt;
  font-weight: bold;
  margin: 10%;
}

.sml {
  width: 15%;
}

.back-icon {
  height: 80%;
  padding: 5%;
}

.attention-box {
  border: 2px solid red;
  font-size: 18pt;
  margin: 2%;
}

i {
  font-size: 18pt;
}

li {
  text-align: left;
  font-size: 18pt;
}

.help-container {
  max-height: 66vh;
  padding: 1%;
  overflow-y: scroll;
}

.help-section {
  font-weight: bold;
  margin: 2% 0;
  border-bottom: 1px solid black;
  font-size: 18pt;
  padding: 1%;
}

.help-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1.5%;
  margin-top: 2%;
  font-size: 18pt;
}

li h3 {
  margin: 1.5% 0 1.5% 0;
}

ol {
  text-align: left;
}

.hide-steps {
  display: none;
}

.popup-alert {
  text-align: center;
  height: 8vh;
}

.popup-alert p {
  font-size: 18pt;
}

.yellow-border {
  border: 5px solid #d5c900;
}

.pink-border {
  border: 5px solid #f401f4;
}

.orange-border {
  border: 5px solid #ff8d33;
}

.green-border {
  border: 5px solid #03a803;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4e4e4e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellow;
}
